[Unit]
Description=Airsense
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart= sh /home/pi/standalone/autostart.sh

[Install]
WantedBy=multi-user.target
